.commonContainer_addButton {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 4px;
  background: #e5eff8;
  color: #1565c0;

  .md-icon {
    font-size: 16px;
  }

  .md-icon-separator {
    display: flex;
    font-weight: inherit;
    text-align: left;
  }
}

.profile-section-card-sections-list {
  height: calc(100% - 34px);
  overflow: auto;
  //max-height: 500px;
  //overflow: overlay;

  .card_paper {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .md-icon-text {
    flex-grow: 1;
    flex-shrink: unset;
    font-weight: inherit;
    line-height: inherit;
  }

  .md-icon-separator {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 8px;
    background: #eeeeeedb;
    font-weight: inherit;
    text-align: left;
  }

  .md-avatar-content {
    font-size: 12px;
  }

  .icons.md-icon {
    font-size: 12px;
  }

  .md-avatar--default {
    color: #f5f5f5;
  }

  .status-label {
    margin-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 29px;
    font-size: 11px;
  }
}

.notSubmitted {
  background-color: #bfbfbf7a;
  color: rgba(0, 0, 0, 0.68);
}

.section_item {
  height: auto;
  padding: 0 8px;

  .md-text--theme-secondary {
    color: #1565c0;
  }

  .md-btn--icon {
    //flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 0 3px;

    .md-icon {
      line-height: 30px;
    }
  }

  .md-selection-control-label {
    padding: 8px;
    border-bottom: 1px dashed #9c9b9b;

    .md-avatar {
      flex-shrink: 0;
    }

    .md-icon-text {
      max-width: calc(100% - 30px);
    }
  }

  &-avatar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.purple {
      background: #ab47bc;
    }

    &.deep-blue {
      background: #5c6bc0;
    }

    &.yellow {
      background: #fbb03b;
    }

    &.light-green {
      background: #8cc63f;
    }

    &.teal {
      background: #26c6da;
    }

    &.red {
      background: #ef5350;
    }

    &.blue {
      background: #42a5f5;
    }

    &.green {
      background: #26a69a;
    }

    .md-avatar-img {
      width: 60%;
      height: auto;

      &.active {
        filter: invert(1.2);
      }

      &.notActive {
        filter: invert(0.5);
      }
    }
  }
}

.commonContainer {
  height: 100%;
  margin-bottom: 16px;
  background: #fff;
  color: rgba(0, 0, 0, 0.64);

  &.section_card_paper {
    margin-bottom: 0;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 3px 13px;
    background: #f1f1f1;
  }

  .section-name {
    color: #616161c4;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  .selected {
    .section-name {
      color: rgba(0, 0, 0, 0.83);
    }
  }

  .section-description {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    color: #929292;
  }

  &_title {
    display: flex;
    flex-grow: 1;
    align-items: center;

    > h3 {
      margin: 0;
      color: #6e6e6e;
      font-size: 14px;
      text-transform: uppercase;
    }

    &_icon {
      margin-right: 8px;
    }
  }

  &_headeButtonsWrapper {
    display: flex;
    align-items: center;

    .commonContainer_editButton {
      width: 24px;
      height: 24px;
      margin-left: 8px;
      padding: 4px;
      background: #f1f2f1;

      .md-icon {
        font-size: 16px;
      }
    }
  }

  &_privacyStatus {
    padding: 0 8px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    color: #d2d2d2;

    > span {
      margin-right: 5px;
      color: #d2d2d2;
    }
  }

  &_container {
    padding: 0 20px 20px;
  }

  .section-members {
    display: flex;

    .section_member {
      display: flex;
    }

    .contract {
      margin-bottom: 8px;
      padding-bottom: 1px;
      border-radius: 3px;
      background: #fff;

      &-footer {
        display: flex;
        margin-top: 8px;
        color: rgba($color: #000, $alpha: 0.54);
        font-size: 12px;

        &-details {
          display: flex;
          align-items: center;

          &:first-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0 solid #ccc;
          }

          .md-icon {
            margin-right: 0;
            font-size: 16px;
          }

          .md-avatar {
            width: 22px;
            height: 22px;
            margin-right: 5px;

            .md-avatar-img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.approved {
  background-color: #e6f3d3;
  color: #6db480;
}

.submitted {
  background-color: #a7cae763;
  color: #42a5f5;
}

.amended {
  background-color: antiquewhite;
  color: rgb(247, 185, 105);
}

.disabled {
  background-color: #61616126;
}
