.data-table-addition-group {
  h2 {
    margin: 8px 16px 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    font-weight: 400;
  }

  .md-icon-text {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
