@import '~styles/globals';

.ams-analytics-filter-dialog {
  .md-dialog-content {
    padding: 10px;
  }
}

.ams-analytics-filter-btn {
  display: flex;
  height: 32px;
  padding: 2px;
  border-radius: 6px;
  background-color: #f3f6f7;
  color: #7685a0;
}

.ams-analytics-filter-container {
  display: flex;
  position: absolute;
  top: -60px;
  right: 127px;
}

.ams-analytics-filter-daterange-btn {
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 5px;
  border-radius: 6px;
  background-color: #f3f6f7;
  color: #7685a0;
}
