.cardMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;

  .delete-button {
    padding: 0;
  }

  &.selected {
    border: 1px solid #1979ff;
    font-weight: normal;
  }

  .md-avatar {
    flex-shrink: 0;
    margin: 0 5px;
  }

  .avatarCompanyCheckbox {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
  }

  .avatarCompanyCheckbox.selected {
    color: #1979ff;
  }

  .cardItem-info {
    &-fullName {
      font-weight: bold;
    }
  }
}
