.starter-kit-assets {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e53935;
  }

  &-inner {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 20px;
    transform: translateY(-50%);
  }

  &-title {
    margin-bottom: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  &-desp {
    color: #fff;
    font-size: 14px;
  }

  &-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    font-style: italic;
    font-weight: 500;
  }

  &-icon {
    margin-right: 6px;
    font-size: 24px;
  }

  &-logo {
    display: block;
    width: auto;
    height: 100px;
    margin: 0 auto 20px;
  }
}
