.production-details {
  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }
  }
}

.details-container {
  height: 100%;

  &-mht {
    max-height: calc(100% - 90px);
    padding: 5px;
    overflow: auto;
  }
}
