.drill-report {
  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }

    &[disabled] {
      color: #f6f8fa;
      cursor: default;

      &:hover {
        background-color: #e3eefe;
      }
    }
  }
}
