.top-bar {
  margin: -16px -16px 16px -16px;

  .title {
    border: none;

    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: default;
    }

    .md-avatar--default {
      background-color: #fff;
    }

    .md-btn--icon {
      width: 30px;
      height: 30px;
      margin-right: 4px;
      padding: 5px;
    }

    .subTitle {
      cursor: pointer;
    }
  }

  .apps_expansion_panel {
    border-left: 1px solid #eee;

    .items-row-col {
      padding: 6px 8px;

      .item {
        &.active {
          .md-avatar {
            background-color: #1979ff;
          }
        }
      }
    }
  }

  .primary-actions {
    align-items: center;
    padding: 0 8px;

    .md-text-field-container {
      border-radius: 25px;
      background-color: rgba(#000, 0.06);

      .md-text-field-icon-container {
        display: flex;
        align-items: center;
      }

      .md-text-field-icon + .md-text-field-divider-container,
      .md-text-field-divider-container + .md-text-field-icon {
        margin: 0;
      }

      .md-text-field--margin {
        margin: 0;
        padding: 8px 14px 8px 0;
        font-size: 14px;
      }

      .md-text-field-icon--positioned {
        margin: 0;
        padding: 8px 8px 8px 10px;

        .md-icon {
          font-size: 15px;
        }
      }

      .md-divider {
        display: none;
      }
    }
  }

  .secondary-Wrapper {
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-left: 1px solid #eee;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 8px 0 0;
    padding: 8px 16px 8px 8px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
    background: lighten(#1979ff, 38);
    color: #1979ff;
    cursor: pointer;

    &:hover {
      background: lighten(#1979ff, 35);
    }

    &.disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    .text {
      padding-left: 8px;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
    }

    .icon {
      height: 18px;
    }
  }

  .back {
    display: flex;
    align-items: center;
  }
}
