.drill-report-details {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.view-doc {
      background-color: #f6f8fa;
      color: gray;
    }
  }
}
