.HtmlEditor {
  width: 100%;
  color: #868686;

  .editorLabel {
    display: block;
    margin-bottom: 15px;
    color: #484848;
  }

  .editorWrapper {
    .editorContent {
      min-height: 50px;
      padding: 10px 20px;
    }

    .readOnlyClassname {
      &.editorToolbar {
        display: none;
      }

      &.editorContent {
        background-color: rgba(#fff, 1);
      }
    }

    .editModeClassname {
      &.editorContent {
        border: 1px solid #dedede;
        border-radius: 5px;
        background-color: #fff;
      }
    }
  }

  .maxLengthWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

    .safeLength {
      color: cornflowerblue;
    }

    .warningLength {
      color: coral;
    }

    .dangerLength {
      color: red;
    }
  }
}
