.response-details-dialog {
  > .md-dialog {
    width: 40%;
    min-width: 500px;
    border-radius: 8px;
  }

  .md-dialog-content {
    padding-top: 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  .attachment-detail {
    display: flex;
    justify-content: space-between;

    &-docs-icon-area {
      display: flex;
      align-items: center;
      width: calc(100% - 20px);
      padding: 8px 0;

      .name {
        color: rgba($color: #000, $alpha: 0.8);
      }

      .size {
        color: rgba($color: #000, $alpha: 0.54);
        font-size: 12px;
      }

      .md-icon {
        font-size: 35px;
        line-height: 1;

        &.mdi-file-pdf {
          color: red;
        }

        &.color-mdi-office {
          color: #1565c0;
        }

        &.color-mdi-xls {
          color: green;
        }

        &.color-mdi-img {
          color: #9f67e6;
        }

        &.color-mdi-zip-box {
          color: #000;
        }
      }
    }
  }

  .md-title {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    border-bottom: 1px solid #dcdcdc;
    color: #2f3842;
    font-size: 18px;
    font-weight: 700;
  }

  .status {
    width: auto;
    margin: 0 10px;
    padding: 3px 7px;
    border-radius: 5px;
    background: #fff4e0;
    color: #ff8300;
    font-size: 14px;
    font-weight: 500;

    &-PRELOADED,
    &-Assigned {
      background: #fff4e0;
      color: #ff8300;
    }
  }

  h4 {
    margin-bottom: 0;
    color: #727677;
  }

  .accept {
    background: #e8f4e9 !important;
    color: #59a774;
  }

  .reject {
    background: #fae7e6 !important;
    color: #e84a3b;
  }
}
