.prime {
  height: 100%;

  > div[tabindex='-1'] {
    height: 100%;
  }

  .apps_expansion_panel .items-row-col .item {
    background: #edf0f2;
    color: #555b63;

    &.active {
      background: #e76580;
      color: #fff;
    }
  }

  .eam_top_bar + div {
    height: calc(100% - 47px);
  }

  .primary-actions {
    align-items: center;
    padding: 0 8px;

    > img {
      margin: 0  8px;
      cursor: pointer;
    }
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(46px);
  }
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(46px);
  }
}

.loadingWrapper {
  position: relative;
  z-index: 9;
  height: 5px;
  overflow: hidden;
  color: #4c3f2e;
  font-style: italic;
  text-align: center;

  &-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: -46px;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background:
      -webkit-repeating-linear-gradient(
        145deg,
        #fdfeff 1px,
        #e8f8ff 2px,
        #d8e9f0 11px,
        #aacaff 12px,
        #aacaff 20px
      );
    background:
      repeating-linear-gradient(
        -55deg,
        #fdfeff 1px,
        #e8f8ff 2px,
        #d8e9f0 11px,
        #aacaff 12px,
        #aacaff 20px
      );
  }
}
