.production-details {
  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }
  }

  .average-delivery {
    display: flex;
    margin: 15px 5px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #fff;

    &-label {
      padding: 0 5px;
      font-weight: bold;
    }
  }
}
