.production-details {
  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }
  }
}

.selector {
  width: 100%;
  margin-bottom: 15px;
  padding: 16px;
  background-color: #fff;

  .selectField {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  }
}

.details-container {
  height: 100%;

  &-mht {
    max-height: calc(100% - 90px);
    padding: 5px;
    overflow: auto;

    &.plusHeight {
      max-height: calc(100% - 190px);
    }
  }
}
