.reserves-details {
  height: 100vh;

  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }
  }

  &-table {
    height: calc(100% - 93px);
    padding: 0 16px;

    .xeena-table-header {
      flex-grow: unset;
    }
  }
}
