.data-table-addition {
  min-height: 190px;

  .add-row {
    display: flex;
    padding: 8px;
  }

  .add-row-btn {
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin: 4px;
    border-radius: 4px;

    &_disabled {
      border: #eee 2px solid;
    }

    &_enabled {
      border: #0065c7 2px solid;
    }
  }

  &_textField {
    flex: 1;
    // height: 40px;
    margin: 4px;
    padding: 12px 13px;
    border: 1px solid #eee;
    border-radius: 4px;

    &:focus-within {
      border-color: #1565c0;
    }

    .md-text-field--floating-margin {
      margin: 0;
    }

    .md-floating-label--floating {
      z-index: 9;
      padding: 0 5px;
      transform: translate3d(-4px, -6px, 0);
      background: #fff;
      color: #0065c7;

      &.md-text--error {
        color: #f44336;
      }
    }

    .md-floating-label--inactive {
      transform: translate3d(0, 15px, 0);
    }

    .md-divider {
      display: none;
    }

    .md-text-field-icon--positioned {
      margin-bottom: 0;
    }

    .md-text-field--margin {
      margin-top: 0;
    }
  }

  &_selectField {
    flex: 1;
    margin: 4px;

    .md-text-field {
      height: 46px;
      border: 1px solid #eee;
      border-radius: 4px;

      &--floating-margin {
        height: auto;
        margin-top: 0;
        padding: 12px 13px;
      }
    }

    .md-floating-label {
      z-index: 9;
      padding: 0 5px;
      background: #fff;

      &--inactive {
        transform: translate3d(8px, 13px, 0);
      }

      &--floating {
        transform: translate3d(10px, -6px, 0);
        color: #0065c7;
      }
    }

    .md-list {
      padding-bottom: 0;
    }

    &.noBorder {
      .md-text-field {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .md-divider {
      display: none;
    }
  }

  .target-react-table-wrapper-header,
  .pagination-bottom {
    display: none;
  }

  .ReactTable .rt-tbody .rt-td:last-child {
    overflow: visible;
    text-align: right;
  }
}
