.suspend-report-details {
  height: 100%;
  overflow: auto;

  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.view-doc {
      background-color: #f6f8fa;
      color: gray;
    }
  }

  // .details-permit {
  //   max-height: calc(100% - 90px);
  //   overflow: auto;
  // }
}
