.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 5px;
  border-radius: 4px;
  background: white;

  &-list {
    display: flex;
    //align-items: stretch;
    height: 100%;
    padding: 0 8px;
    overflow-x: auto;
    overflow-y: hidden;

    &-title {
      display: inline-flex;
      align-items: center;
      margin: 0 8px;
      padding: 0 4px 4px 4px;
      transition: all 0.2s ease-in-out;
      color: rgba(#000, 0.35);
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;

      &.active {
        position: relative;
        color: #1979ff;

        &::after {
          content: '';
          position: absolute;
          top: auto;
          right: 16px;
          bottom: 0;
          left: 16px;
          height: 3px;
          border-radius: 8px 8px 0 0;
          background-color: #1979ff;
        }
      }
    }
  }

  .buttons-list {
    max-width: 300px;

    &-btn {
      height: auto;
      margin: 5px 10px;
      border-radius: 8px;
      background-color: #e3eefe;
      color: #3080fc;
      font-size: 14px;
      font-weight: 700;

      &:active {
        background-color: #3080fc;
        color: white;
      }

      &:hover {
        background-color: #3080fc;
        color: white;
      }
    }
  }

  /* width */
  ::-webkit-scrollbar {
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #3080fc;
  }
}
