.inventory-details {
  height: 100vh;

  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }

    &.reject {
      background-color: #ffe8e7;
      color: #f44438;
    }

    &.approve {
      background-color: #d4f7d4;
      color: #14c765;
    }
  }

  &-table {
    height: calc(100% - 73px);
    padding: 0 16px;

    .xeena-table-header {
      flex-grow: unset;
    }
  }
}
