.inventory-module {
  height: 100vh;

  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }

    &.reject {
      background-color: #ffe8e7;
      color: #f44438;
    }

    &.approve {
      background-color: #d4f7d4;
      color: #14c765;
    }
  }

  &-table {
    height: calc(100% - 147px);
    padding: 0 16px;

    .xeena-table-header {
      flex-grow: unset;
    }
  }

  .show,
  .page {
    width: 50px;
    height: 30px;
    margin: 0 10px;
    padding: 0 15px;
    border: gray 1px solid;
    border-radius: 7px;
  }

  .page {
    width: 70px;
  }
}

.datepicker-cell {
  position: relative;
  overflow: visible;

  .target-date-picker-datepicker {
    top: 0;
    left: 0;
  }
}
