.newProposal {
  &.md-dialog-container.md-overlay {
    z-index: 9999;
  }

  > .md-dialog {
    width: 30%;
    min-width: 320px;
    overflow: hidden;
    border-radius: 3px;

    .md-dialog-content {
      height: 95%;
      overflow: auto;

      &--padded {
        padding: 16px;
      }
    }

    .md-btn--dialog {
      height: 30px;
      padding-right: 0;
      padding-left: 0;

      .md-text--theme-primary {
        margin-left: 15px;
      }
    }
  }

  h2.md-title {
    padding: 8px 24px;
    background: #1565c0;
    color: #fff;
    font-size: 18px;
  }

  &-textField {
    max-height: 40px;
    padding: 11px 13px;
    border: 1px solid rgba($color: #000, $alpha: 0.4);
    border-radius: 2px;

    &:focus-within {
      border-color: #1565c0;
    }

    .md-text-field--floating-margin {
      margin: 0;
    }

    .md-floating-label--floating {
      z-index: 9;
      padding: 0 5px;
      transform: translate3d(-4px, -6px, 0);
      background: #fff;
      color: #0065c7;
    }

    .md-text--error {
      color: rgba(0, 0, 0, 0.59);
    }

    .md-floating-label--inactive {
      transform: translate3d(0, 12px, 0);
    }

    .md-divider {
      display: none;
    }

    .md-text-field-icon {
      margin-bottom: 0;
      font-size: 17px;
    }

    &.noBorder {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .md-text-field-inline-indicator--floating {
      top: 4px !important;
      right: 4px;
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  }

  &-selectFields {
    .md-text-field {
      padding: 11px;
      border: 1px solid rgba($color: #000, $alpha: 0.4);
      border-radius: 2px;

      &--floating-margin {
        margin-top: 0;
      }
    }

    .md-divider--text-field {
      display: none;
    }

    .md-floating-label {
      z-index: 1;
      padding: 0 5px;
      background: #fff;

      &--inactive {
        transform: translate3d(10px, 13px, 0);
      }

      &--floating {
        transform: translate3d(10px, -6px, 0);
        color: #0065c7;
      }
    }

    .md-list {
      padding-bottom: 0;

      &:last-child {
        border-bottom: none;
      }
    }

    &.noBorder {
      .md-text-field {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .md-list-item {
      border-bottom: 1px solid #e4e4e4;
      font-weight: 500;

      .md-text {
        color: rgba($color: #000, $alpha: 0.54);
      }
    }

    .md-list-tile {
      padding: 11px 13px;
    }
  }

  .layover {
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000, $alpha: 0.3);
  }

  .target-date-picker-datepicker {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  &-tooltip-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #6e6e6e;
      font-size: 15px;
    }

    .inform {
      position: relative;

      &-tooltip {
        display: none;
        position: absolute;
        top: 35px;
        right: 0;
        width: 320px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.897);
        color: #fff;

        ul {
          margin-left: 25px;
          padding: 10px;

          li {
            list-style-type: disc;
          }
        }
      }

      &:hover {
        .inform-tooltip {
          display: inline-block;
        }
      }
    }
  }

  &_dropZone {
    //width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 1px dashed #ccccccd6;
    border-radius: 4px;
    background: #eeeeeebd;
    text-align: center;
    cursor: pointer;

    &_content {
      color: #6e6e6e;

      > img {
        margin: 12px 0;
      }

      p {
        margin-bottom: 0;
        color: #6e6e6ede;
        font-size: 14px;

        span {
          color: #0065c7;
        }
      }

      .md-icon {
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.31);
        font-size: 30px;
      }
    }
  }

  &-fileWrapper {
    max-height: 163px;
    overflow: auto;

    &.md-grid {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      width: 100%;
    }
  }

  &_files {
    width: 100%;
    margin: 0 0 8px;

    .title-wrapper {
      display: flex;
      align-items: center;
      border-radius: 4px 4px 0 0;
      background: #f1f1f1;
      color: #ccc;

      h3 {
        margin: 0;
        color: #6e6e6e;
        font-size: 14px;
        text-transform: uppercase;
      }

      .md-icon {
        margin: 8px;
        color: #1565c0;
        font-size: 18px;
        line-height: 1;
      }
    }

    .container {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      background: #f1f1f1;
    }

    .file-details {
      display: flex;
      align-items: center;

      .uploadButton {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        padding: 5px;
        background: rgba(153, 153, 153, 0.12);
        line-height: 1;

        .md-icon {
          font-size: 16px;
        }

        .md-btn--icon {
          width: 35px;
          height: 35px;
        }
      }

      .file-name {
        margin-right: auto;
        margin-left: 8px;
      }

      .file-size {
        color: rgba($color: #000, $alpha: 0.54);
        font-size: 12px;
      }

      .docs-icon-area {
        .mdi-file-pdf {
          color: red;
        }

        .color-mdi-office {
          color: #1565c0;
        }

        .color-mdi-xls {
          color: green;
        }

        .color-mdi-img {
          color: #9f67e6;
        }

        .color-mdi-zip-box {
          color: #000;
        }
      }
    }
  }

  .wrapper {
    position: relative;
    border: 1px solid rgba($color: #000, $alpha: 0.4);

    &-label {
      position: absolute;
      top: -9px;
      left: 8px;
      padding: 0 6px;
      background: #fff;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .date-range {
    position: relative;
    padding: 4px 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
  }

  .target-date-picker {
    .target-date-picker-datepickerinput {
      margin-left: auto;

      .md-icon {
        font-size: 20px;
      }
    }

    > span {
      &:first-child {
        position: absolute;
        top: -9px;
        left: 9px;
        background: #fff;
        color: rgba($color: #000, $alpha: 0.54);
      }
    }
  }
}

.withMargin {
  margin-bottom: 20px;
}

.newProposal-dialog-body {
  p {
    color: #6e6e6e;
    font-size: 15px;
  }
}
