.app--random-password-switch-control {
  .md-switch-track {
    height: 22px;
    margin: 0 10px 0 0;
    border-radius: 12px;

    .md-switch-thumb {
      width: 18px;
      height: 18px;
    }

    .md-switch-thumb--off {
      transform: translate3d(2px, 2px, 0);
      background: #fff;
    }

    .md-switch-thumb--on {
      transform: translate3d(20px, 2px, 0);
      background: #fff;
    }

    .md-ink-container {
      display: none;
    }

    & > span {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .md-switch-track--off {
    background: #eaeaea;
  }

  .md-switch-track--on {
    background: #1979ff;
  }
}

.app--random-password-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px 0 15px;
  padding: 0;
}

.app--random-password-list {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 4px;
  background: rgba(138, 138, 138, 0.3);
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}

.app--random-password-copy {
  color: #1979ff;
  font-size: 12px;
  text-align: center;
}

.app--random-password-copy-text {
  border-bottom: 1px solid #1979ff;
  cursor: pointer;
}
