@mixin light-box(
  $radius: 2px,
  $bw: 1px solid rgba(0, 0, 0, 0.12),
  $pd: 0 5px,
  $mg: 0 0 10px 0
) {
  margin: $mg;
  padding: $pd;
  border: $bw;
  border-radius: $radius;
}
$box-margin: 0 0 20px 0;
$primary-color: #1979ff;

.schedule-meeting-dialog-container {
  /* &.md-dialog-container.md-overlay {
    z-index: 9999;
  } */
  .time-picker-container {
    width: 70%;
  }

  .md-dialog-content--padded.md-dialog-content {
    display: flex;
    margin-top: 0;
    padding: 15px;
    overflow: hidden;
  }

  .schedule-meeting-dialog-close {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
  }

  .selectContainer {
    margin-right: 10px;
    margin-bottom: 10px;

    > div {
      padding-left: 12px;
      border: 1px solid #ccc;
    }
  }

  .meeting-date-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    > div {
      width: 50%;
    }

    .clsprefix-date-picker-wrap {
      width: 90%;
      margin-bottom: 0;
    }
  }

  .inviteContainer {
    margin-bottom: 10px;

    > div:first-of-type {
      padding-left: 12px;
      border: 1px solid #ccc;
    }
  }
}

.schedule-meeting-layout {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.schedule-meeting-wrapper {
  flex: 1;
  padding-top: 5px;
  overflow-y: auto;

  .app--editor {
    padding: 0;
    background-color: #fff;

    .app--editor-style-button {
      color: rgba(0, 0, 0, 0.24);
    }

    .public-DraftStyleDefault-block,
    .public-DraftStyleDefault-ol,
    .public-DraftStyleDefault-ul {
      color: rgba(0, 0, 0, 0.6);
    }

    .app--editor-discard {
      border: 1px solid $primary-color;
      color: $primary-color;
    }

    .app--editor-post {
      background: $primary-color;
      color: #fff;
    }

    .app--editor-toolbar {
      padding-left: 14px;
      background-color: #f2f2f2;
    }

    .DraftEditor-root {
      padding: 0 17px;
      background-color: #fff;
    }

    .app--editor-footer {
      padding: 20px;
    }

    .public-DraftEditorPlaceholder-root {
      left: 24px;
    }
  }

  .app--goals {
    height: calc(100% - 42px);
  }

  .app--quicknotes {
    height: calc(100% - 39px);

    .app--quicknotes-addbtn {
      color: #fff;
    }

    .app--quicknotes-searchtitle {
      margin: 0;
      border-bottom: 1px solid #dcdcdc;
      background-color: #fff;

      // svg {
      // fill: rgba(0, 0, 0, 0.38);
      // }

      input {
        background-color: unset;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .app--quicknotes-list-item-title {
      color: inherit;
    }

    .app--quicknotes-list {
      padding: 0;
    }

    .app--quicknotes-list-item {
      margin-bottom: 0;
      padding: 10px 22px;
    }

    .app--quicknotes-list-item-content {
      color: rgba(0, 0, 0, 0.6);
    }

    .app--quicknotes-list-item-footer {
      color: inherit;
    }

    .app--quicknotes-list-item-date {
      color: inherit;
    }

    .app--quicknotes-list-item-name {
      color: rgba(0, 0, 0, 0.87);
    }

    .app--quicknotes-list-item-footer-left {
      color: rgba(0, 0, 0, 0.38);
    }

    .app--quicknotes-list-item-footer-right {
      .md-btn {
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }

  .app--detail-quicknote {
    flex: 6;
    height: 1px;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #fff;

    .input-field {
      border-color: #dcdcdc;
      background-color: #fff;
      color: rgba(0, 0, 0, 0.6);
    }

    .app--quicknotes-list-item {
      border-bottom: 1px solid #eaeaea;
      background-color: #fff;
    }
  }
}

.schedule-meeting-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 280px;
  overflow-y: auto;

  .calender-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
  }

  .calendar-hour-list {
    position: relative;
    width: 200px;
    padding-bottom: 10px;
    border-top: 1px solid #eaeaea;
  }

  .selected-time-span {
    display: flex;
    position: absolute;
    z-index: 1;
    align-items: center;
    width: 200px;
    padding-left: 5px;
    background-color: #2fc571;
    color: #fff;
    font-weight: 700;

    &.error {
      background-color: #f43f32;
    }
  }

  .calender-hour-box {
    display: flex;
    position: relative;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-top: none;

    .calender-separator {
      flex: 1;
      border-bottom: 1px dashed #eaeaea;
    }

    .hour-info {
      position: absolute;
      bottom: -10px;
      left: -85px;
      width: 80px;
      text-align: right;
    }
  }
}

.schedule-meeting-dialog-text-field {
  // TODO: responsive.
  @include light-box($mg: $box-margin);

  height: 50px;
  border-radius: 4px;
  border-color: #ccc;

  .md-floating-label--floating {
    transform: translate3d(6px, -6px, 0);
    background: white;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
  }

  .md-text-field-message-container {
    margin-top: 10px;
  }

  @media screen and (min-width: 320px) {
    .md-floating-label--inactive {
      transform: translate3d(0, 16px, 0);
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
    }
  }

  .md-text-field--floating-margin {
    margin-top: 14px;
    margin-bottom: 10px;
  }

  hr {
    display: none;
  }
}

.user-option-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.3);

  .user-option-item-avatar {
    border-radius: 50% !important;
  }

  .user-option-item-text {
    flex: 1;
    padding-left: 10px;
    overflow: hidden;

    .title {
      overflow: hidden;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .desc {
      color: rgba($color: #000, $alpha: 0.6);
      font-size: 12px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .md-icon-separator {
    justify-content: center;

    .md-icon-text {
      flex-grow: unset;
    }

    .md-icon-text:last-child {
      padding-left: 5px;
    }
  }

  .md-btn.primary {
    justify-content: space-around;
    width: 72px;
    border-radius: 10px;
    background-color: rgba($color: #1979ff, $alpha: 0.1);
    color: #1979ff;
  }

  .md-btn.accept {
    width: 72px;
    border-radius: 10px;
    background-color: rgba($color: #66bb6a, $alpha: 0.1);
    color: #66bb6a;
  }
}

.user-multi-value-label {
  display: flex;
  align-items: center;
  padding-right: 5px;

  .user-multi-value-label-avatar {
    margin-right: 5px;
    border-radius: 50% !important;
  }
}

.user-multi-value-container {
  border-radius: 50%;
}

.recommendedtime-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  max-height: 200px;
  padding: 10px;
  padding-right: 25px;
  overflow: hidden;
  transition: all 1s;
  border-radius: 4px;
  background: rgba($color: #1979ff, $alpha: 0.1);

  &.collapsed {
    max-height: 38px;
  }
}

.recommendedtime-container-text {
  color: rgb(80, 79, 79);
  font-size: 12px;
}

.recommendedtime-container-time {
  padding: 3px 5px 3px;
  color: #1979ff;
  font-size: 12px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.recommendedtime-container-icon {
  margin-top: 3px;
  margin-left: 10px;
}

.recommendedtime-right-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
