.cost-recovery-details {
  height: 100%;

  .top-bar-buttons-icons {
    display: none;
  }

  .top-bar-buttons-list-item-btn {
    &.discard {
      background-color: #f6f8fa;
      color: gray;
    }
  }

  &-mht {
    max-height: calc(100% - 90px);
    padding: 5px;
    overflow: auto;
  }
}

.show,
.page {
  width: 50px;
  height: 30px;
  margin: 0 10px;
  padding: 0 15px;
  border: gray 1px solid;
  border-radius: 7px;
}

.page {
  width: 70px;
}
