.details-top-bar {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: white;

  &_left {
    display: flex;
    align-items: center;
    padding-right: 10px;

    &-template {
      display: flex;
      align-items: center;
      padding: 0 8px;
      font-weight: 500;

      > button {
        margin-left: 8px;
        font-weight: bold;
      }
    }
  }

  &_actions {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #eee;

    &-button {
      min-width: 100px;
      height: 34px;
      margin: 0 10px;
      padding: 5px 16px;
      border: 1px solid #1665be;
      border-radius: 4px;

      &.md-text--disabled {
        border-color: rgba(0, 0, 0, 0.12);
        background: rgba(0, 0, 0, 0.12);
      }
    }
  }

  &_navigation {
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: bold;

    .arrowIcon {
      &.material-icons.md-icon {
        margin: 0 5px;
        font-size: 27px;
      }
    }
  }

  &_left-memberList {
    display: flex;
    align-items: center;
  }
}
